/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
	background: #3d3d3d;
}

h1 {
	font-family: 'Raleway', sans-serif;
	font-size: 40px;
	color: white;
	text-align: center;
}

.products li {
	display:inline;
}

.product-box {
	width: 200px;
	height: 300px;
	float: left;
	margin: 10px 10px 10px 10px;
	padding: 20px 10px 10px 10px;
	text-align: center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	background: #e9eaee;
	border: 2px solid #ffffff;
	box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
	-moz-box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
	-webkit-box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
	}
}