
body {
/*	background: #3d3d3d;*/
	background-image: url('/assets/pw_maze_white.png');
	padding: 25px 0 25px 0;
	margin: 0px 30px;
	font-family: sans-serif;
	
}

.step3-help {
	font-family: 'Arvo', serif;		

	h1 {
		font-size: 100px;
		color: rgba(0, 168, 255, 0.5);
		text-shadow: 3px 3px 0 rgba(255, 0, 180, 0.5);
		font-weight: bold;
		padding: 15px 0px;
	}
	
	h2 {
		font-size: 40px;
	}
	
	p {
		margin-top: 20px;
		line-height: 25px;
	}
}

a.btn {
	text-decoration: none;
}

#login-box {
	float:right;
	text-decoration: none;
	margin-bottom: 0px;
}

#login-form {
	display:none;
	
	form {
		margin-bottom: 0px;
	}
	
	input {
		margin-bottom: 0px;	
	}
	
	input.btn {
		margin-bottom: 0px;
	}
	
	p {
		font-size: 13px;
		margin-top: -13px;
		color: #7A7A7A;
	}
}



.products {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	clear: both;
}


.product-box {
	width: 200px;
	height: auto;
	float: left;
	margin: 10px 10px 10px 10px;
	padding: 10px 10px 10px 10px;
	text-align: center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
/*	background: #e9eaee;*/
	background: white;
	border: 2px solid #ffffff;
	box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
	-moz-box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
	-webkit-box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
}


.product-box h2 {
	font-size: 1.4em;
	font-weight: bold;
}

h3.ribbon
{
	position: relative;
	width: 20%;
	font-size: 1.2em;
	font-weight: bold;
	padding: 6px 10px 6px 10px;
	margin: -50px 10px 25px -26px;
	color: white;
	background-color: #FFA800;
/*	text-shadow: 0px 1px 2px #bbb;*/
	-webkit-box-shadow: 0px 2px 4px #999;
	-moz-box-shadow: 0px 2px 4px #999;
	box-shadow: 0px 2px 4px #999;
}

h3.ribbon:after
{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 0px;
	top: 100%;
	border-width: 5px 7px;
	border-style: solid;
	border-color: #D18900 #D18900 transparent transparent;
}



h2.price {
	float: right;
	padding-left: 5px;
	color: #006A8B;
}


img.delete_product {
	position:absolute;
	margin-top: 5px;
	margin-left: -25px;
	max-width: 20px;
}

.product-box p {
	font-size: 0.9em;
	padding-top: 5px;
	margin-bottom: 10px;
	text-align: left;
}

.product-box .stock-left {
	color: green;
	float: left;
}

.product-box .sold {
	color: red;
}

.product-box a {
	float: right;
}

.file-drop-zone {
    display:table;
    vertical-align:middle;
	border: 2px dashed;
	border-color: #B7B7B7;
	height: 100%;
}

.file-drop-zone h2 {
	display: table-cell;
	font-weight: bold;
	font-size: 2em;
	color: #B7B7B7;
	vertical-align: middle;
	padding: 10px;
}

#new_product {
	display: none;
}

.product-loading {
	display:table;
    vertical-align:middle;
	border: none;
	height: 100%;
}

img.spinner {
	display: table-cell;
	max-width: 100%;
}


.price-qty {
	
}
.price {
    width: 120px;
	display:inline;
}

.qty-field {
	width: 40px;
	margin-right: 50px;
	display:inline-block;
}

#add_details input[type="text"], textarea {
/*    margin-bottom: 3px;
*/    width: 100%;

   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;

}

#add_details input[type="number"] {
	height: 20px;
	width: 60px;
}

#add_details textarea {
    height: 50px
}

#add_details input[type="text"] {
    height: 30px
}

.button {
  font-size: 1.2em;
  padding: 5px;
  background-color: hsl(31, 100%, 44%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e07300", endColorstr="#e07300");
  background-image: -khtml-gradient(
	
	near, left top, left bottom, from(#e07300), to(#e07300));
  background-image: -moz-linear-gradient(top, #e07300, #e07300);
  background-image: -ms-linear-gradient(top, #e07300, #e07300);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e07300), color-stop(100%, #e07300));
  background-image: -webkit-linear-gradient(top, #e07300, #e07300);
  background-image: -o-linear-gradient(top, #e07300, #e07300);
  background-image: linear-gradient(#e07300, #e07300);
  border-color: #e07300 #e07300 hsl(31, 100%, 44%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.00);
  -webkit-font-smoothing: antialiased;
}

.gumroad-button {
	background-color:#fe1a00;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #d83526;
	display:inline-block;
	color:#ffffff;
	font-family:sans-serif;
	font-size:15px;
	padding:5px 15px;
	text-decoration:none;
	text-shadow:1px 0px 3px #b23e35;
}.classname:hover {
	background-color:#ce0100;
}.classname:active {
	position:relative;
	top:1px;
}
