<div class="file-drop-zone">
	<h2>Drop Product Image Here</h2>
</div>

<%= form_for Product.new do |f| %>
	
  <p>
		<%= f.file_field :image, multiple: true, name: "product[image]" %>  
	</p>
	
	<p><%= f.submit %></p>

<% end %>